/fonts/res/*
/.vscode/*
.vscode/*
/export/*
/_export/*
*.aseprite
*.lnk
steam_api64.dll
libsteam_api_osx.dylib
libsteam_api_linux64.so
#Generate it by running `lua _tools/language_validation/make_spreadsheet.lua`
_tools/language_validation/lang.csv
*.csv#
/_private/*